In [16]:
import pandas as pd

# Tarifmodell

In [17]:
# from the point of view of the customer
sell_cent_per_kilowatt = 18
buy_cent_per_kilowatt = 20

In [18]:
# PV Loskoglweg 14
data_file="Leistung und Energieertrag 13.11.2023 19 04.csv"
df = pd.read_csv(data_file)
df.head()

,Time,Bezug (Wh),Energie - Eigenverbrauch (Wh),Exportieren (Wh),Produktion (Wh),Verbrauch (Wh)
0,01.01.2022,485956,64744,98769,163501,550688
1,01.02.2022,336851,149819,278350,428169,486670
2,01.03.2022,296589,245811,887382,1133193,542400
3,01.04.2022,360511,347990,635122,983112,708501
4,01.05.2022,236243,379975,791630,1171605,616218

In [19]:
# adding prices
df['Bezugspreis (Euro)'] = df['Bezug (Wh)'] / 1000.0 * buy_cent_per_kilowatt / 100.0
df['Exportertrag (Euro)'] = df['Exportieren (Wh)'] / 1000.0 * buy_cent_per_kilowatt / 100.0

df.head()

,Time,Bezug (Wh),Energie - Eigenverbrauch (Wh),Exportieren (Wh),Produktion (Wh),Verbrauch (Wh),Bezugspreis (Euro),Exportertrag (Euro)
0,01.01.2022,485956,64744,98769,163501,550688,97.1912,19.7538
1,01.02.2022,336851,149819,278350,428169,486670,67.3702,55.6700
2,01.03.2022,296589,245811,887382,1133193,542400,59.3178,177.4764
3,01.04.2022,360511,347990,635122,983112,708501,72.1022,127.0244
4,01.05.2022,236243,379975,791630,1171605,616218,47.2486,158.3260