In [3]:
import pandas as pd

members_df = pd.read_excel("EEGFakturaExports/RC101533-EEG-Masterdata-20240122.xlsx", sheet_name="Mitglieder")
members_df

from dotenv import load_dotenv
import os 

load_dotenv()
p = os.getenv('MIDDLEWARE_DB_PASSWORD')

print(p)

k_^Ca5&?UHz?$7uxT3_8R^0g

In [16]:
email_list = members_df[['Mit. Nr.', 'E-Mail']]
email_list

   Mit. Nr.                     E-Mail
0         1         martin@maigner.net
1         1         martin@maigner.net
2         3    johanneskals@icloud.com
3         3    johanneskals@icloud.com
4         2     schottm4rtin@gmail.com
5         2     schottm4rtin@gmail.com
6         4  herward.zitterl@gmail.com
7         4  herward.zitterl@gmail.com