In [9]:
import pandas as pd

members_df = pd.read_excel("EEGFakturaExports/RC101533-EEG-Masterdata-20240122.xlsx", sheet_name="Mitglieder")
members_df

from dotenv import load_dotenv
import os 

load_dotenv()
#p = os.getenv('MIDDLEWARE_DB_PASSWORD')

members_df

,Mit. Nr.,Name 1,Name 2,Titel,Status,Mitglied seit.,E-Mail,Telefonnummer,SteuerNr.,Ust.,...,Bezugsrichtung,WechselrichterNr.,PLZ.1,Ort.1,Straße.1,HausNr..1,aktiviert,deaktiviert,Zp. Tarifname,Umspannwerk
0,1,Martin,Aigner,NaN,ACTIVE,2024-01-10,martin@maigner.net,NaN,NaN,NaN,...,CONSUMPTION,NaN,4820,Bad Ischl,Loskoglweg,14,2024-01-01 00:00:00.000,2999-12-31 00:00:00,Verbrauch-2024,NaN
1,1,Martin,Aigner,NaN,ACTIVE,2024-01-10,martin@maigner.net,NaN,NaN,NaN,...,GENERATION,NaN,4820,Bad Ischl,Loskoglweg,14,2024-01-11 11:41:36.377,2999-12-31 00:00:00,Erzeugung-2024,NaN
2,3,Johannes,Kals,NaN,ACTIVE,2024-01-21,johanneskals@icloud.com,NaN,NaN,NaN,...,CONSUMPTION,NaN,4820,Bad Ischl,Rittingerstrasse,1,2024-01-21 20:57:10.367,2999-12-31 00:00:00,Verbrauch-2024,NaN
3,3,Johannes,Kals,NaN,ACTIVE,2024-01-21,johanneskals@icloud.com,NaN,NaN,NaN,...,CONSUMPTION,NaN,4820,Bad Ischl,Rittingerstrasse,1,2024-01-21 20:58:50.004,2999-12-31 00:00:00,Verbrauch-2024,NaN
4,2,Martin,Schott,NaN,ACTIVE,2024-01-21,schottm4rtin@gmail.com,NaN,NaN,NaN,...,CONSUMPTION,NaN,4820,Bad Ischl,Sarsteinerstraße,8,2024-01-21 20:56:50.192,2999-12-31 00:00:00,Verbrauch-2024,NaN
5,2,Martin,Schott,NaN,ACTIVE,2024-01-21,schottm4rtin@gmail.com,NaN,NaN,NaN,...,GENERATION,NaN,4820,Bad Ischl,Sarsteinerstraße,8,2024-01-21 20:53:32.507,2999-12-31 00:00:00,Erzeugung-2024,NaN
6,4,Herward,Zitterl,Dr.,ACTIVE,2024-01-21,herward.zitterl@gmail.com,NaN,NaN,NaN,...,CONSUMPTION,NaN,4820,Bad Ischl,Frauengasse,8,2024-01-21 21:03:10.050,2999-12-31 00:00:00,Verbrauch-2024,NaN
7,4,Herward,Zitterl,Dr.,ACTIVE,2024-01-21,herward.zitterl@gmail.com,NaN,NaN,NaN,...,GENERATION,NaN,4820,Bad Ischl,Frauengasse,8,2024-01-21 21:06:19.506,2999-12-31 00:00:00,Erzeugung-2024,NaN

In [7]:
email_list = members_df['E-Mail'].unique()
email_list

array(['martin@maigner.net', 'johanneskals@icloud.com',
       'schottm4rtin@gmail.com', 'herward.zitterl@gmail.com'],
      dtype=object)